
.outerdiv{
    width: 30%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 35%;
    margin-right: 35%;
    border-style: solid;
    border-radius: 3%;
    border-width: 2px;
    border-color: black;
    box-shadow: 5px 5px #0d6efd;
}
.signinform{
    width: 95%;
}

.fs-4{
    color: #0d6efd;
    text-shadow: 1px 1px 2px #4f87f0;
    font-weight: bold;
    padding: 10px;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    letter-spacing: 5px;
}

.py-5 {
    padding-top: 0rem !important;
    padding-bottom: 1rem !important;
  }

.col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




/*
General Interest and Motivation

    Motivation Level: On a scale of 1 to 10, how motivated are you to learn new skills?
    Reason for Learning: What is your primary reason for wanting to learn new skills?
     (e.g., career advancement, personal interest, academic requirements)

Learning Style Preferences

    Preferred Learning Method: Which method of learning do you find most effective?
     (Visual aids, interactive hands-on practice, reading materials, listening to lectures, etc.)
    Previous Learning Experiences: Describe a past learning experience that you found particularly 
    effective or enjoyable. What made it effective for you?

Availability and Time Commitment

    Weekly Time Commitment: How many hours per week can you dedicate to learning a new skill?
    Preferred Learning Schedule: What time of day do you find most productive for studying? 
    (Morning, Afternoon, Evening)
*/